img {
  height: auto;
  width: 600px;
}

body {
  background-color: #eee;
  color: #333;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.main-title {
  color: #ffef49;
  font-family: "Brush Script MT", cursive;
  font-size: 80px;
}

.recipe {
  font-size: 60px;
}

.tuna-title {
  color: #EECF00;
}

.cinnamon-title {
  color: #D2891E;
}

.shrimp-title {
  color: #EAA794;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111;
}

.description-title {
  font-family: "Courier New", monospace;
  font-size: 28px;
}