img {
  height: auto;
  width: 600px;
}

body {
  background-color: #eee;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #333;
}

.main-title {
  color: #ffef49;
  font-family: "Brush Script MT", cursive;
  font-size: 80px;
}

.recipe {
  font-size: 60px;
}

.tuna-title {
  color: #EECF00;
}

.cinnamon-title {
  color: #D2891E;
}

.shrimp-title {
  color: #EAA794;
}