img {
  height: auto;
  width: 600px;
}

body {
  background-color: #eee;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #333;
}

.main-title {
  color: #ffef49;
  font-family: "Brush Script MT", cursive;
  font-size: 80px;
}